html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body  {
    color: #fff;
    font-family: 'Spectral', serif;
    background-image: url(../images/tex2res5.png); /* background image for body*/
    }



.container{
    background-image: url(../images/CONSTITUTION.jpg);/* background image for main container*/
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 740px;
    text-align: center;
    }






header {
    padding:25px; 
    margin: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2.4em; 
}


.hide{
    display: none;
}


#game{ 
    line-height: 1.6;
    padding: 0 10px;
    width: 85%;
  /*  border:3px double #0077B5;*/
    min-height: 550px; /* min height set to adjust for larger images*/
    margin: auto;
    background-color: rgba(32, 22, 32, 0.6);
}

.start{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    margin-top: 30px;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 1pc;
    cursor: pointer;
    color: #0077B5;
}
.start:hover{
    transition: 1s;
    opacity: .7;
}
#intro-text{
    font-size: 1.25em;
    margin-top: 25px; 
}

#clock-display{
    font-size: 1.5em;
    padding-top: 20px;
}

.questions-answers{
    font-size: 1.25em;
    margin-top: 20px;
}
.answer{
    
    background-color: rgb(239, 247, 255);
    font-family: 'Roboto', sans-serif;
    margin: 15px auto;
    color: black;
    border-radius: 1pc;
    cursor: pointer;
    width: 80%;
}

img {
    width:75%; /* image for answers */
}



footer{
    margin:1.5em;
    text-align: center;
}
a {
    color: #0077B5;
    font-size: 1em;
}
a:link {
    text-decoration: none;
}
a:hover{
    color: #0F9D58;
}

@media only screen and (min-width: 600px){
    img{
        width: 50%;
        height: 280px;
    }
}
@media only screen and (min-width: 768px) {
    img{
        width: unset;
        height: 280px;
    }